* {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --gap: 10px;
    --seperator-gap: 7px;
    --menu-bar-gap: 15px;
}

body {
    position: absolute;
    inset: var(--gap);
    display: grid;
    background-color: #333333;
    color: white;

    grid-template-columns: 60px 1.25fr 1fr;
    grid-template-rows: 45px 1fr;
    gap: var(--gap);
}

.bar {
    background: #424242;

    -webkit-box-shadow: 7px 4px 12px rgb(58 58 58);

    box-shadow: 7px 4px 12px rgb(58 58 58);
    border-radius: 16px;
    overflow: hidden;
    height: calc(100% - 10px);
    grid-row: 2 / 3;
}

.examples {
    grid-row: 1/2;
    grid-column: 3/4;
    align-self: center;
    justify-self: end;
    margin-inline-end: 80px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(220, 50%, 60%);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(34, 34, 34);
    position: relative;

}

.examples:hover{
    background-color: #7997D2;
}

.examples .menu {
    position: absolute;
    list-style: none;
    background-color: hsl(220, 10%, 30%);
    height: 0;
    overflow: auto;
    top: 100%;
    left: 0;
    width: 150px;
    transition: height 0.2s ease-in-out;
    padding-left: 0;
    box-shadow: rgba(5, 5, 5, 0.1) 0px -2px 5px 0px, rgba(5, 5, 5, 0.15) 0px 1px 1px -2px, rgba(5, 5, 5, 0.17) 0px 2px 2px -2px, rgba(5, 5, 5, 0.18) 0px 5px 5px -2px, rgba(5, 5, 5, 0.19) 0px 9px 9px -2px, rgba(5, 5, 5, 0.25) 0px 16px 16px -2px;
}

.examples .menu li {
    padding-inline: 10px;
    color: white;
    padding-block: 1.25ch;
    padding-inline: 2.5ch;
}
.examples .menu li:hover{
    background-color: hsl(220, 50%, 65%);
}

.examples:focus-within .menu {
    height: 200px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 10px;
}

.examples:focus-within {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.examples .icon {
    background-color: rgba(255, 255, 255, 0);
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    border-radius: 100px;
    margin-inline-start: 3px;
    transition: background-color 0.2s ease;
}

.examples .icon:hover {
    background-color: rgba(231, 229, 229, 0.479);
}

.examples .fa-sort-down {
    transform: translateY(-2px);
}

.outputbar {
    border-radius: 0;
    background: white;
    position: relative;
}

.codearea {
    grid-row: 2 / 3;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.form {
    position: absolute;
    left: 50%;
    top: 10px;
    -webkit-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    transform: translateX(-80px);
}

.runner {

    border-radius: 10px;
    border: none;
    background: yellowgreen;
    padding: 10px;
    padding-inline: 20px;
    cursor: pointer;
    margin-left: 20px;
}

.runner:hover {
    background: rgb(123, 163, 44);
}

.title {
    grid-row: 1/2;
    grid-column: 2 / 3;
    border-radius: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100px;
    display: grid;
    place-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 2px solid rgb(101, 217, 233);
}
.outputbar .after{
    content: "";
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 50%;
    height: 4px;
    background-color: #2a8fd1;
    animation-name: load;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes load{
    from{
        left: -100%;
    }
    to{
        left: 100%;
        
    }
}
.files {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-block: 30px;
    gap: var(--menu-bar-gap);
    width: calc(100% - var(--seperator-gap));
    height: 100%;
    position: relative;
}

.files::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1.5px;
    background-color: rgb(81 81 81);
    top: 0;
    right: 0;
}

.files>.menu__type {
    background: none;
    border: none;
    cursor: pointer;
    display: grid;
    place-items: center;
    padding-block: 5px;
}

.files>.menu__type:hover {
    background-color: rgb(96 96 96 / 77%);
}

.files>.menu__type svg {
    width: 30px;
    height: 30px;
}

.files>.active-bar {
    position: absolute;
    height: 40px;
    width: var(--seperator-gap);
    background-color: #0F72CE;
    right: calc(var(--seperator-gap) * -1);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.codearea {
    position: relative;
}

.CodeMirror {
    position: absolute;
    height: 98% !important;
}

.session {
    height: 90%;
}

.editor {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.iframe {
    width: 100%;
    height: 100%;
    margin: 0px;
}

/* #cm-complete-0-0 */
::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #46464694;

}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #F5F5F5;
}

.CodeMirror-hints {
    background-color: #252526 !important;
    border: 1px solid #463f3f !important;



}

.CodeMirror-hints li {
    color: #C4D3DD !important;
    padding-right: 54px !important;
    padding-block: 3.5px;
    position: relative;
    padding-left: 20px;
}

.CodeMirror-hints li::before {
    position: absolute;
    width: 25px;
    content: "";
    color: #4768dd;
    transform: translateX(-15px);
    background-image: url(wrench-solid.svg);
    width: 12px;
    background-repeat: no-repeat;
    height: 100%;

}
.codearea .status{
    width: 100%;
    height: 54px;
    position: absolute;
    bottom: 0px;
    
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    overflow: auto;
    left: 0;
    z-index: 3;
    padding-inline: 10px;
}
.codearea .error{
    background-color: rgb(245, 81, 81);
}

  
  
  

/* .html .CodeMirror-hints li::before{
    content: "";
}
.css .CodeMirror-hints li::before{
    content: "{}";
}
.js .CodeMirror-hints li::before{
    content: "[]";
} */